@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-1: #00fff5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-1: var(--blue-1);
  --font-exo: var(--font-exo);
  --font-noto-sans-jp: var(--font-noto-sans-jp);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-exo), var(--font-noto-sans-jp), Arial, Helvetica, sans-serif;
  line-height: 1;
  letter-spacing: 0.05em;
}

@keyframes circlemove {
  0% {
    bottom: 35px;
  }
  100% {
    bottom: -15px;
  }
}

@keyframes circlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes newsMessage-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
